body{
    background-color: blue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cornsilk;
    font-family: sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    
}

.container{
    text-align: center;
    padding: 2rems;
    border-radius: 5px;
    background-color: lightskyblue;
    flex: 0 0 80%;

}

#jokesBtn{
    border: none;
    color: blue;
    background: grey;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;

}

#jokesBtn:hover{
    color: lightblue;
}

blockquote{
    background: lightseagreen;
    border-left: 10px  solid #000;
    margin: 1.5rem;
    padding: 0.5rem;

}

#Answer{
    color: maroon;
}

